@{
    ViewBag.Title = "О программе";
}

@Styles.Render("~/Content/Site.css")

<h2>Информационная система для учёта движения ценных бумаг и дивидендов</h2>

<p>
    Областью применения программы является инвестиционная деятельность участников рынка. Приложение предназначено для учета купли-продажи ценных бумаг и получения дивидендов. ИС ориентирована на пользователей, занимающихся инвестированием и при этом желающих вести учёт всех покупок и продаж.
</p>
<p>
    Пользователями системы являются – Пользователь (инвестор или трейдер) и Администратор.
</p>
<p>
    Администратору доступны такие операции, как редактирование справочников (акций, дивидендов, секторов, отраслей, валют и бирж), регистрация и удаление Пользователей, редактирование списка Пользователей, а также загрузка информации о дивидендах.
</p>
<p>
    Пользователь, в свою очередь, способен вести инвестиционный портфель, то есть вносить, редактировать и удалять информацию о купле-продажи акций, экспортировать отчёты, составленные системой.
</p>
